
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    width: 1200px;
    height: 107px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    
  }

  h2 {
    width: 385.46px;
    height: 90px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 70px;

    color: #1782FF;


    text-align: center;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

  
  }

  a {
    width: 64px;
    height: 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-decoration: none;
    padding: 30px;

    color: #C5C5C5;

    text-align: center;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  @media only screen and (max-width: 1000px) {
    .footer {
      width: auto;
      
    }
    a {
      width: auto;
    }
  }
 